body {
  background-image: url('http://i.imgur.com/6Zuf7Jt.jpg');
  display: ;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#timer {
  height:100px;
  width: 50px;
  border: 2px solid black;
  position: relative;
  background: red;
}

#kickTime {
  height:100%;
  width: 100%;
  background: white;
  position: absolute;
}
