body {
  background-image: url('http://i.imgur.com/A8foSNC.png');
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#player {
  background-image: url();
}

#timer {
  height:100px;
  width: 50px;
  border: 2px solid black;
  position: absolute;
  background: red;
}

#shoot {
  height:0%;
  width: 100%;
  background: white;
  position: relative;
}
#range {
  height: 70%;
  widows: 5%;
  background: green;
  position: relative;
}
