* {
  background-color: black;
  font-style: Arial white 20px;
}

.field {
  position: absolute;
  background-image: url(http://i.imgur.com/A8foSNC.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#scoreBoard {
  position: relative;
  border: 2px solid rgba(28, 32, 173, 0.9);
  max-width: 500px;
  height: 50px;
  min-height: 35px;
  margin: 0 auto;
  background: rgba(10, 10, 10, 0.6);
  border-radius: 70px;
  padding-bottom: 1px;
}

.playerScore {
  border: 0px solid rgba(100, 100, 100, 0.6);
  background: rgba(100, 60, 60, 0.6);
  border-radius: 90px;
  display: inline-flex;
  position: relative;
  height: 100%;
  width: 49%;
  min-width: 20%;
  left: 3px;
}

.scoreDisplay {
  position: relative;
  border: 2px solid rgba(100, 100, 255, 0.8);
  max-width: 25%;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  height: 4%;
  min-height: 35px;
  margin: 0 auto;
  background: rgba(10, 10, 200, 0.6);
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.teamsScore {
  border: 1px solid rgba(200, 200, 100, 0.6);
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  display: inline;
  height: 50%;
  width: 98%;
  min-width: 30%;
  max-width: 48%;
  left: 3px;
  top: 5px;
  padding-left: 3px;
  padding-right: 30px;
  border-radius: 10px;
}

.nbr {
  margin-left: 15%;
}

.attempt {
  position: relative;
  display: inline-flex;
  border: 8px solid rgba(111, 100, 100, 0.6);
  background: rgba(100, 100, 119, 0.6);
  border-radius: 100%;
  height: 70%;
  width: 70%;
}

.goal {
  background: rgba(0, 255, 0, 0.9);
}

.missed {
  background: rgba(255, 0, 0, 0.9);
}

#audio {
  background: red;
}

#player {
  background-image: url();
}

#timer {
  height: 170px;
  width: 28px;
  border: 2px solid black;
  position: relative;
  background: white;
  left: 2%;
  bottom: -40%;
}

#shot {
  height: 0%;
  width: 100%;
  background: red;
  position: absolute;
  bottom: 0;
}

#ball {
  width: 85px;
  position: relative;
  display: block;
  bottom: -42%;
  left: 52%;
  transform: scale(1) translate(0px, 0px);
  background-color: rgba(255, 255, 255, 0)
}

.ballLeft, .ballOut, .ballCatched {
  transition: all 0.8s;
  opacity: 60%;
}

.ballLeft {
  transform: scale(.3) translate(-550px, -848px)!important;
  /*transition: all 0.8s;
  opacity: 60%;*/
}

.ballOut {
  transform: scale(.2) translate(-200px, -2048px)!important;
  /*transition: all 0.8s;
  opacity: 60%;*/
}

.ballCatched {
  transform: scale(.4) translate(460px, -330px)!important;
  /*transition: all 0.8s;
  opacity: 60%;*/
}

#goalkeeper {
  position: relative;
  left: 52%;
  display: block;
  width: 123px;
  bottom: -40%;
  transform: scale(1) translate(0px, 0px);
  background-color: rgba(255, 255, 255, 0)
}

.keeperMissed {
  transform: scale(1) translate(-230px, 0px)!important;
  transition: all 0.8s;
  opacity: 60%;
}

.keeperCatched {
  transform: scale(1) translate(170px, 0px)!important;
  transition: all 0.8s;
  opacity: 60%;
}
.hide {
  opacity: 0;
}
.pop {
  position: relative;
  font: caption;
  color: yellow;
  opacity: 100;
  height: 20px;
  width: 230px;
  background-color: rgba(0, 0, 0, 0.2);
  border: yellow 1px solid;
  border-radius: 5px;
  left: 2%;
  bottom: 16%;
  text-align: center;
  padding-top: 1px;
}
#notGoal.pop {
  color: rgba(255, 0, 0, 1);
  border: 1px rgba(255, 0, 0, 1) solid;
  bottom: 20%;
}
#goal.pop {
  color: rgba(0, 255, 0, 1);
  border: 1px rgba(0, 255, 0, 1) solid;
  bottom: 18%;
}
#modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8) top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  z-index: 99999;
  height: 100%;
  width: 100%;
}
#restartModal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8) top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  z-index: 99999;
  height: 100%;
  width: 100%;
  display: none;
}
.modalconent {
  position: absolute;
  color: aliceblue;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(http://i.imgur.com/4WbtVyP.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid white;
  width: 52%;
  height: 59%;
  padding: 31px;
  transition: all 0.3s;
}
#button {
  position: relative;
  background: aliceblue;
  left: 70%;
  bottom: 30%;
  width: 15%;
}
.playing {
  position: relative;
  font: caption;
  color: aliceblue;
  opacity: 100;
  height: 20px;
  width: 230px;
  background-color: rgba(0, 0, 0, 0.2);
  border: aliceblue 1px solid;
  border-radius: 5px;
  left: 2%;
  bottom: -200px;
  text-align: center;
  padding-top: 1px;
}
/*******************************************/
@media screen and (max-width: 872px) {
  /*******************************************/

  .field {
    position: relative;
    background-image: url(http://i.imgur.com/A8foSNC.png);
    background-size: cover;
    margin-left: 0;
    height: 100%;
    width: 100%;
  }
  #ball {
    width: 33px;
    position: absolute;
    bottom: 175px;
    margin-left: -7%;
    margin-bottom: -20%;
    transform: scale(1) translate(0px, 0px);
    background-color: rgba(255, 255, 255, 0);
  }

  .ballLeft, .ballOut, .ballCatched {
    transition: all 0.8s;
    opacity: 60%;
  }

  .ballLeft {
    transform: scale(.3) translate(370px, -390px)!important;
    /*transition: all 0.8s;
    opacity: 60%;*/
  }

  .ballOut {
    transform: scale(.3) translate(-400px, -900px)!important;
    /*transition: all 0.8s;
    opacity: 60%;*/
  }

  .ballCatched {
    transform: scale(.4) translate(-240px, -180px)!important;

    /*transition: all 0.8s;
    opacity: 60%;*/
  }

  #goalkeeper {
    position: absolute;
    left: 44%;
    display: block;
    width: 80px;
    bottom: 45px;
    transform: scale(1) translate(0px, 0px);
    background-color: rgba(255, 255, 255, 0);
  }

  .keeperMissed {
    transform: scale(1) translate(20px, 0px)!important;
    transition: all 0.8s;
    opacity: 60%;
  }

  .keeperCatched {
    transform: scale(1) translate(-109px, 0px)!important;
    transition: all 0.8s;
    opacity: 60%;
  }

  .playing {
    position: relative;
    font: caption;
    color: aliceblue;
    opacity: 100;
    height: 20px;
    width: 230px;
    background-color: rgba(0, 0, 0, 0.2);
    border: aliceblue 1px solid;
    border-radius: 5px;
    left: 2%;
    bottom: 50px;
    text-align: center;
    padding-top: 1px;
  }
  .teamsScore {
    font-size: 10px;
    border: 1px solid rgba(200, 200, 100, 0.6);
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    display: inline;
    height: 68%;
    width: 68%;
    min-width: 30%;
    left: 3px;
    top: 5px;
    padding-left: 3px;
    padding-right: 30px;
    border-radius: 10px;
  }
  .nbr {
    margin-left: 10px;
  }
  .pop {
    position: relative;
    font: caption;
    color: yellow;
    opacity: 100;
    height: 20px;
    width: 230px;
    background-color: rgba(0, 0, 0, 0.2);
    border: yellow 1px solid;
    border-radius: 5px;
    left: 2%;
    bottom: 18%;
    text-align: center;
    padding-top: 1px;
  }
  #notGoal.pop {
    color: rgba(255, 0, 0, 1);
    border: 1px rgba(255, 0, 0, 1) solid;
    bottom: 0%;
  }
  #goal.pop {
    color: rgba(0, 255, 0, 1);
    border: 1px rgba(0, 255, 0, 1) solid;
    bottom: 18%;
  }
  #modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.8) top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 99999;
    height: 100%;
    width: 100%;
  }

}
  /*******************************************/
  @media screen and (max-width: 550px) {
  /*******************************************/

  html {
    content: 'NOT YET AVAILABLE FOR MOBILE';
  }

  .field {
    position: relative;
    background-image: url(http://i.imgur.com/Ka8lJHj.png);
    background-size: 100%;
    margin-left: 0;
    height: 100%;
    width: 100%;
  }

  #scoreBoard, #audio, .playerScore, #button, .playing, .scoreDisplay, #timer, #shot, .pop, #modal, #goalkeeper, #ball, #teamsScore, .attempt {
    display: none;
  }
}
